<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
<!-- Meta -->
{% load static %}
{% load thumbnail %}
{% load i18n %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<meta name="keywords" content="MediaCenter, Template, eCommerce">
<meta name="robots" content="all">
<title>My magazen!</title>

<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">

<!-- Customizable CSS -->
<link rel="stylesheet" href="/static/assets/css/main.css">
<link rel="stylesheet" href="/static/assets/css/blue.css">
<link rel="stylesheet" href="/static/assets/css/owl.carousel.css">
<link rel="stylesheet" href="/static/assets/css/owl.transitions.css">
<link rel="stylesheet" href="/static/assets/css/animate.min.css">
<link rel="stylesheet" href="/static/assets/css/rateit.css">
<link rel="stylesheet" href="/static/assets/css/bootstrap-select.min.css">
<link rel="stylesheet" href="/static/assets/css/modal.css">
<script src="/static/assets/js/jquery-1.11.1.min.js"></script> 


<!-- Icons/Glyphs -->
<link rel="stylesheet" href="/static/assets/css/font-awesome.css">

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Barlow:200,300,300i,400,400i,500,500i,600,700,800" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body class="cnt-home">
  
<!-- ============================================== HEADER ============================================== -->
<header class="header-style-1"> 
  
  <!-- ============================================== TOP MENU ============================================== -->
  <div class="top-bar animate-dropdown">
    <div class="container">
      <div class="header-top-inner">
        <div class="cnt-account">
          <ul class="list-unstyled">
            <li class="myaccount"><a href="{% url 'myshop:sign-in'%}"><span>{% trans 'My Account'%}</span></a></li>
            <!-- <li class="wishlist"><a href="#"><span>{% trans 'Wishlist'%}</span></a></li> -->
            <li class="header_cart hidden-xs"><a href="{% url 'myshop:shopping-cart' %}"><span>{% trans 'My Cart'%}</span></a></li>
            <li class="check"><a href="#"><span>{% trans 'Checkout'%}</span></a></li>
            <li class="login"><a href="{% url 'myshop:logouts' %}"><span>{% trans 'Logout'%}</span></a></li>
          </ul>
        </div>
        <!-- /.cnt-account -->
        
        <div class="cnt-block">
          <ul class="list-unstyled list-inline">
            <li class="dropdown dropdown-small"> <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"><span class="value">USD </span><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">USD</a></li>
                <li><a href="#">INR</a></li>
                <li><a href="#">GBP</a></li>
              </ul>
            </li>
            <li class="dropdown dropdown-small lang"> <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"><span class="value">{% trans 'LANGUAGES'%} </span><b class="caret"></b></a>
              <ul class="dropdown-menu">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                
                <li><a {% if LANGUAGE_CODE == language.code %} style="color: red;" {% endif %}  href="/{{language.code}}" >{{ language.name_local }}</a></li>
               
                {% endfor %} 
              </ul>
            </li>
          </ul>
          <!-- /.list-unstyled --> 
        </div>
        <!-- /.cnt-cart -->
        <div class="clearfix"></div>
      </div>
      <!-- /.header-top-inner --> 
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.header-top --> 
  <!-- ============================================== TOP MENU : END ============================================== -->
  <div class="main-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 logo-holder"> 
          <!-- ============================================================= LOGO ============================================================= -->
          <div class="logo"> 
              <a href="#">
                  <img src="/static/assets/images/logo.png" alt="logo">
              </a>
           </div>
          <!-- /.logo --> 
          <!-- ============================================================= LOGO : END ============================================================= --> </div>
        <!-- /.logo-holder -->
        
        <div class="col-lg-7 col-md-6 col-sm-8 col-xs-12 top-search-holder"> 
          <!-- /.contact-row --> 
          <!-- ============================================================= SEARCH AREA ============================================================= -->
          
          
          
          <div class="search-area">
            <form>
              <div class="control-group">
                <ul  class="categories-filter animate-dropdown">
                  <li style="padding: 0 15px; color: green;"> <b>{% trans 'Product'%}</b>
                  </li>
                </ul>
                <input onkeyup="SearchFonction(this.value)" class="search-field" placeholder="Search here..." />
                <a class="search-button" href="#" ></a>
             </div>
            </form>
          </div>
         
          <div class="search_list" style="display: none;" id="search">
            <div class="card" id="product-list">

            </div>
          </div>
          <style>
            .search_list{
              position: absolute;
              z-index: 200;
              box-shadow: 4px 5px 6px black;
              background: #C1C1C1;
              padding: 5px;
              width: 98%;
              border-radius: 35px;
              overflow: auto;
            }
            .product-title{
              padding: 2px;
            }
          
            .imgs{
              padding: 5px;
          border-radius: 10px;
            }
            .aaaa{
              margin: 10px;
              font-size: 20px;
              color: black;
            }
          </style>

<script>
            function SearchFonction(value)
            {
              if(value!="")
                 {
                  if(window.XMLHttpRequest)
                    var xhttp=new XMLHttpRequest();
                  else
                    var xhttp=new ActiveXObject("Micrasoft.XMLHTTP");

                  xhttp.onreadystatechange=function(){
                    if(xhttp.readyState === 4 && xhttp.status === 200)
                    {
                      var data=JSON.parse(this.responseText);
                      if(data.length!=0)
                    { 
                      var p='<p>';
                      for( var i =0;i<data.length;i++)
                      {
                        p+='<p><a class="aaaa" href="/detail/'+data[i].id+'"><img class="imgs" src='+ data[i].image+' width="60" height="60"><b>'+data[i].title+'</b></a></p>';
                      }
                      p+="</p>";
                      document.getElementById('product-list').innerHTML=p;
                      document.getElementById('search').style.display="block";
                    }
                    else
                    document.getElementById('search').style.display="none";

                    }
                  }
                
                  var url="{% url 'myshop:search_products' %}";
                  var url=url+"?data="+value;
                  xhttp.open("GET",url,true);
                  xhttp.send();
                 }
                 else{
                  document.getElementById('search').style.display="none";

                 }
                }
</script>








          <!-- /.search-area --> 
          <!-- ============================================================= SEARCH AREA : END ============================================================= --> </div>
        <!-- /.top-search-holder -->
        
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 animate-dropdown top-cart-row"> 
          <!-- ============================================================= SHOPPING CART DROPDOWN ============================================================= -->
          
          <div class="dropdown dropdown-cart"> <a href="#" class="dropdown-toggle lnk-cart" data-toggle="dropdown">
            <div class="items-cart-inner">
              <div class="basket">
              <div class="basket-item-count"><span class="count" id="cart_count">{{cart.total_quantity}}</span></div>
              <div class="total-price-basket"> <span class="lbl" >{% trans 'Shopping Cart'%}</span> <span class="value" id="cart_price">{{cart.total_price }}$</span> </div>
              </div>
            </div>
            </a>
            <ul class="dropdown-menu">
              <li>

               <!-- ----------------------------- -->
              <div class="cart-item product-summary" id="for_shopping_cart">
                {% for i in cart.products.all %}
                  <div class="row" id="shop_cart_new_{{i.id}}">
                    <div class="col-xs-4">
                      <div class="image"> <a href="{% url 'myshop:detail' i.product.id %}">
                      
                        {% thumbnail i.product.image "200x200" crop="center" as im %}
                        <img src="{{im.url}}" alt="rasm bor edi">
                        {% endthumbnail %}
                                
                      </a> </div>
                    </div>
                    <div class="col-xs-7">
                      <h3 class="name"><a href="{% url 'myshop:detail' i.product.id %}">{{i.product}}</a></h3>
                      <div class="price" style="font-size: 12px;">Price: {{i.product.price}}$  Qty: {{i.qty}}</div>
                      
                      <div class="pull-left"><span class="text" >{% trans 'Sub Total'%} :</span><span class='price'>{{i.price }}$</span> </div>
                    </div>
                    <div class="col-xs-1 action"> <button  onclick="DelProducts('{{i.id}}')" ><i class="fa fa-trash"></i></button> </div>

                  </div>
                  {%endfor%}
                </div>


               
                <!-- -------------------------------- -->
                <!-- /.cart-item -->
                <hr>
                <div class="clearfix cart-total">
                  <a href="checkout.html" class="btn btn-upper btn-primary btn-block m-t-20">{% trans 'Checkout'%}</a>
                 </div>
                <!-- /.cart-total--> 
                
              </li>
            </ul>
            <!-- /.dropdown-menu--> 
          </div>
          <!-- /.dropdown-cart --> 
          
          <!-- ============================================================= SHOPPING CART DROPDOWN : END============================================================= --> </div>
        <!-- /.top-cart-row --> 
      </div>
      <!-- /.row --> 
      
    </div>
    <!-- /.container --> 
    
  </div>
  <!-- /.main-header --> 
  <script>
    function DynamicCart(){
          if(window.XMLHttpRequest)
            var xhttp=new XMLHttpRequest();
          else
            var xhttp=new ActiveXObject("Micrasoft.XMLHTTP");
            xhttp.onreadystatechange=function(){
            if(xhttp.readyState === 4 && xhttp.status === 200)
            {
              var data=JSON.parse(this.responseText);
              $('#cart_count').html(data.total_quantity);
              $('#cart_price').html(data.total_price+'$');
              // alert('Mana');
              var p="";
              for(var i=0;i<data.products.length;i++)
                {
                  p+='<div class="row" id="shop_cart_new_'+data.products[i].id_cp+'">'+
                  '<div class="col-xs-4">'+
                  ' <div class="image">'+
                  '<a href="/detail/'+data.products[i].id+'"><img  src="'+ data.products[i].image+'" width="45" height="45" alt="rasm bor edi"><a/>'+
                  '</div> </div><div class="col-xs-7"><a href="/detail/'+data.products[i].id+'"><h3 class="name">'+
                  '{{"'+data.products[i].title+'"}}'+
                  '</h3><a/><div class="price"  style="font-size: 12px;">Price: {{"'+data.products[i].price+'"}}$ Qty: {{"'+data.products[i].qty+'"}}</div>'+
                  '<div class="pull-left">'+
                  '<span class="text">{% trans "Sub Tota"%} :</span>'+
                  '<span class="price">{{"'+data.products[i].prices+'"}}$</span> </div></div>'+
                  '<div class="col-xs-1 action"> <button  onclick="DelProducts('+data.products[i].id_cp+')"><i class="fa fa-trash"></i></button> </div>'+
                  '</div>';
                }                
                $('#for_shopping_cart').html(p);
            }
            }
                        var url="{% url 'myshop:shop_cart' %}";
                        xhttp.open("GET",url,true);
                        xhttp.send();
            }


          function DelProducts(cartproduct_id){
                        if(window.XMLHttpRequest)
                          var xhttp=new XMLHttpRequest();
                        else
                          var xhttp=new ActiveXObject("Micrasoft.XMLHTTP");

                        xhttp.onreadystatechange=function(){
                          if(xhttp.readyState === 4 && xhttp.status === 200)
                          {
							 
							  var data= JSON.parse(this.responseText);                     

                if(data.status==200)
                {
                  $('#cart_count').html(data.cart_total_qty);
                  $('#cart_price').html(data.cart_total_price+'$');
                  document.getElementById('shop_cart_new_'+cartproduct_id).style.display='none';
                }	
							  else
							  alert(data.status);
							
                }
                }
                var url="{% url 'myshop:cart_delete' %}";
                var url=url+"?data="+cartproduct_id;
                xhttp.open("GET",url,true);
                xhttp.send();
              }
          



  </script>
  <!-- ============================================== NAVBAR ============================================== -->
  <div class="header-nav animate-dropdown">
    <div class="container">
      <div class="yamm navbar navbar-default" role="navigation">
        <div class="navbar-header">
       <button data-target="#mc-horizontal-menu-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> 
       <span class="sr-only">{% trans 'Toggle navigation'%}</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div class="nav-bg-class">
          <div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
            <div class="nav-outer ">
              <ul class="nav navbar-nav">
                <!-- <li class="active dropdown"> <a href="{% url 'myshop:home'%}">Home</a> </li> -->
                
                <li class="dropdown" style="right:10px;"> <a href="#"  class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" >{% trans 'Pages'%}</a>
                  <ul class="dropdown-menu pages">
                    <li>
                      <div class="yamm-content">
                        <div class="row">
                          <div class="col-xs-12 col-menu">
                            <ul class="links">
                              <li><a href="{% url 'myshop:home'%}">{% trans 'Home'%}</a></li>
                              <li><a href="{% url 'myshop:shopping-cart'%}">{% trans 'Shopping Cart Summary'%}</a></li>
                              <li><a href="{% url 'myshop:checkout'%}">{%trans 'Checkout'%}</a></li>
                              <li><a href="{% url 'myshop:blog'%}">{% trans 'Blog'%}</a></li>
                              <li><a href="{% url 'myshop:blog-details'%}">{% trans 'Blog Detail'%}</a></li>
                              <li><a href="{% url 'myshop:contact'%}">{% trans 'Contact'%}</a></li>
                              <li><a href="{% url 'myshop:sign-in'%}">{% trans 'Sign In'%}</a></li>
                              <li><a href="{% url 'myshop:my-wishlist'%}">{% trans 'Wishlist'%}</a></li>
                              <li><a href="{% url 'myshop:terms-conditions'%}">{% trans 'Terms and Condition'%}</a></li>
                              <li><a href="{% url 'myshop:track-orders'%}">{% trans 'Track Orders'%}</a></li>
                              <li><a href="{% url 'myshop:product-comparison'%}">{% trans 'Product-Comparison'%}</a></li>
                              <li><a href="{% url 'myshop:faq'%}">{% trans 'FAQ'%}</a></li>
                              <li><a href="{% url 'myshop:error'%}">{% trans '404'%}</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <!-- <li class="dropdown  navbar-right special-menu"> <a href="#">{% trans 'Get 30% off on selected items'%}</a> </li> -->
              </ul>
              <!-- /.navbar-nav -->
              <div class="clearfix"></div>
            </div>
            <!-- /.nav-outer --> 
          </div>
          <!-- /.navbar-collapse --> 
          
        </div>
        <!-- /.nav-bg-class --> 
      </div>
      <!-- /.navbar-default --> 
    </div>
    <!-- /.container-class --> 
    
  </div>
  <!-- /.header-nav --> 
  <!-- ============================================== NAVBAR : END ============================================== --> 
  
</header>
{% load fontawesome_5 %}
{% load thumbnail %}
{% load i18n %}
{% block index %}

    
{% endblock index%}

<div id="brands-carousel" class="logo-slider">
  <div class="logo-slider-inner">
    <div id="brand-slider" class="owl-carousel brand-slider custom-carousel owl-theme">
      <div class="item m-t-15"> <a href="#" class="image"> <img data-echo="/static/assets/images/brands/brand1.png" src="/static/assets/images/blank.gif" alt=""> </a> </div>
      <!--/.item-->
      
      <div class="item m-t-10"> <a href="#" class="image"> <img data-echo="/static/assets/images/brands/brand2.png" src="/static/assets/images/blank.gif" alt=""> </a> </div>
      <!--/.item-->
      
      <div class="item"> <a href="#" class="image"> <img data-echo="/static/assets/images/brands/brand3.png" src="/static/assets/images/blank.gif" alt=""> </a> </div>
      <!--/.item-->
      
      <div class="item"> <a href="#" class="image"> <img data-echo="/static/assets/images/brands/brand4.png" src="/static/assets/images/blank.gif" alt=""> </a> </div>
      <!--/.item-->
      
      <div class="item"> <a href="#" class="image"> <img data-echo="/static/assets/images/brands/brand5.png" src="/static/assets/images/blank.gif" alt=""> </a> </div>
      <!--/.item-->
      
      <div class="item"> <a href="#" class="image"> <img data-echo="/static/assets/images/brands/brand6.png" src="/static/assets/images/blank.gif" alt=""> </a> </div>
      <!--/.item-->
      
      <div class="item"> <a href="#" class="image"> <img data-echo="/static/assets/images/brands/brand2.png" src="/static/assets/images/blank.gif" alt=""> </a> </div>
      <!--/.item-->
      
      <div class="item"> <a href="#" class="image"> <img data-echo="/static/assets/images/brands/brand4.png" src="/static/assets/images/blank.gif" alt=""> </a> </div>
      <!--/.item-->
      
      <div class="item"> <a href="#" class="image"> <img data-echo="/static/assets/images/brands/brand1.png" src="/static/assets/images/blank.gif" alt=""> </a> </div>
      <!--/.item-->
      
      <div class="item"> <a href="#" class="image"> <img data-echo="/static/assets/images/brands/brand5.png" src="/static/assets/images/blank.gif" alt=""> </a> </div>
      <!--/.item--> 
    </div>
    <!-- /.owl-carousel #logo-slider --> 
  </div>
  <!-- /.logo-slider-inner --> 
  
</div>

<div class="row our-features-box">
  <div class="container">
   <ul>
     <li>
       <div class="feature-box">
         <div class="icon-truck"></div>
        <div class="content-blocks">{% trans 'We ship worldwide'%}</div>
       </div>
     </li>
     <li>
       <div class="feature-box">
         <div class="icon-support"></div>
         <div class="content-blocks">{% trans 'Call'%} +99 890 330 60 22</div>
       </div>
     </li>
     <li>
       <div class="feature-box">
         <div class="icon-money"></div>
         <div class="content-blocks">{% trans 'Money Back Guarantee'%}</div>
       </div>
     </li>
     <li>
       <div class="feature-box">
         <div class="icon-return"></div>
         <div class="content">{% trans '30 days return'%}</div>
       </div>
     </li>
     
   </ul>
 </div>
</div>
<footer id="footer" class="footer color-bg">
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="address-block">
          
            <!-- /.module-heading -->
            
            <div class="module-body">
              <ul class="toggle-footer" >
                <li class="media">
                  <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i> </span> </div>
                  <div class="media-body">
                    <p>{% trans 'ThemesGround, 789 Main rd, Anytown, CA 12345 USA'%}</p>
                  </div>
                </li>
                <li class="media">
                  <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="fa fa-mobile fa-stack-1x fa-inverse"></i> </span> </div>
                  <div class="media-body">
                    <p> +99890 330 60 22 / +99891 224 27 54</p>
                  </div>
                </li>
                <li class="media">
                  <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="fa fa-envelope fa-stack-1x fa-inverse"></i> </span> </div>
                  <div class="media-body"> <span><a href="#">marazzo@themesground.com</a></span> </div>
                </li>
              </ul>
            </div>
            </div>
            <!-- /.module-body --> 
          </div>
          <!-- /.col -->
          
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="module-heading">
              <h4 class="module-title">{% trans 'Customer Service'%}</h4>
            </div>
            <!-- /.module-heading -->
            
            <div class="module-body">
              <ul class='list-unstyled'>
                <li class="first"><a href="#" title="Contact us">{% trans 'My Account'%}</a></li>
                <li><a href="#" title="About us">{% trans 'Order History'%}</a></li>
                <li><a href="#" title="faq">FAQ</a></li>
                <li><a href="#" title="Popular Searches">{% trans 'Specials'%}</a></li>
                <li class="last"><a href="#" title="Where is my order?">{% trans 'Help Center'%}</a></li>
              </ul>
            </div>
            <!-- /.module-body --> 
          </div>
          <!-- /.col -->
          
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="module-heading">
              <h4 class="module-title">{%trans 'Corporation'%}</h4>
            </div>
            <!-- /.module-heading -->
            
            <div class="module-body">
              <ul class='list-unstyled'>
                <li class="first"><a title="Your Account" href="#">{% trans 'About us'%}</a></li>
                <li><a title="Information" href="#">{% trans 'Customer Service'%}</a></li>
                <li><a title="Addresses" href="#">{% trans 'Company'%}</a></li>
                <li><a title="Addresses" href="#">{% trans 'Investor Relations'%}</a></li>
                <li class="last"><a title="Orders History" href="#">{% trans 'Advanced Search'%}</a></li>
              </ul>
            </div>
            <!-- /.module-body --> 
          </div>
          <!-- /.col -->
          
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="module-heading">
              <h4 class="module-title">{% trans 'Why Choose Us'%}</h4>
            </div>
            <!-- /.module-heading -->
            
            <div class="module-body">
              <ul class='list-unstyled'>
                <li class="first"><a href="#" title="About us">{% trans 'Shopping Guide'%}</a></li>
                <li><a href="#" title="Blog">{% trans 'Blog'%}</a></li>
                <li><a href="#" title="Company">{%trans 'Company'%}</a></li>
                <li><a href="#" title="Investor Relations">{% trans 'Investor Relations'%}</a></li>
                <li class=" last"><a href="contact-us.html" title="Suppliers">{% trans 'Contact Us'%}</a></li>
              </ul>
            </div>
            <!-- /.module-body --> 
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-bar">
      <div class="container">
        <div class="col-xs-12 col-sm-4 no-padding social">
          <ul class="link">
            <li class="fb pull-left"><a target="_blank" rel="nofollow" href="#" title="Facebook"></a></li>
            <li class="tw pull-left"><a target="_blank" rel="nofollow" href="#" title="Twitter"></a></li>
            <li class="googleplus pull-left"><a target="_blank" rel="nofollow" href="#" title="GooglePlus"></a></li>
            <li class="rss pull-left"><a target="_blank" rel="nofollow" href="#" title="RSS"></a></li>
            <li class="pintrest pull-left"><a target="_blank" rel="nofollow" href="#" title="PInterest"></a></li>
            <li class="linkedin pull-left"><a target="_blank" rel="nofollow" href="#" title="Linkedin"></a></li>
            <li class="youtube pull-left"><a target="_blank" rel="nofollow" href="#" title="Youtube"></a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 no-padding copyright">&copy; {% trans 'Bu sayt shabloni crek qilindi'%} </div>
        <div class="col-xs-12 col-sm-4 no-padding">
          <div class="clearfix payment-methods">
            <ul>
              <li><img src="/static/assets/images/payments/1.png" alt=""></li>
              <li><img src="/static/assets/images/payments/2.png" alt=""></li>
              <li><img src="/static/assets/images/payments/3.png" alt=""></li>
              <li><img src="/static/assets/images/payments/4.png" alt=""></li>
              <li><img src="/static/assets/images/payments/5.png" alt=""></li>
            </ul>
          </div>
          <!-- /.payment-methods --> 
        </div>
      </div>
    </div>
  </footer>
  <!-- ============================================================= FOOTER : END============================================================= --> 
  
  <!-- For demo purposes – can be removed on production --> 
  
  <!-- For demo purposes – can be removed on production : End --> 
  
  <!-- JavaScripts placed at the end of the document so the pages load faster --> 
  <script src="/static/assets/js/jquery-1.11.1.min.js"></script> 
  <script src="/static/assets/js/bootstrap.min.js"></script> 
  <script src="/static/assets/js/bootstrap-hover-dropdown.min.js"></script> 
  <script src="/static/assets/js/owl.carousel.min.js"></script> 
  <script src="/static/assets/js/echo.min.js"></script> 
  <script src="/static/assets/js/jquery.easing-1.3.min.js"></script> 
  <script src="/static/assets/js/bootstrap-slider.min.js"></script> 
  <script src="/static/assets/js/jquery.rateit.min.js"></script> 
  <script src="/static/assets/js/lightbox.min.js"></script> 
  <script src="/static/assets/js/bootstrap-select.min.js"></script> 
  <script src="/static/assets/js/wow.min.js"></script> 
  <script src="/static/assets/js/scripts.js"></script>
  </body>
  </html>